.footer {
    padding-top: 0;
}
.footer .socials  {
  flex-direction: row; 
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  border-bottom: 1px solid white;
  padding: 10px; 
}
.footer .socials > .social {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: all 0.5s;
}
.footer .socials > .social:hover {
    background-color: white;
    color: #03a9f4;
}