@import '../base/base.css';
@import '../base/layout.css';
@import '../3rd-party/font-awesome.min.css';
@import '../components/button.css';
@import '../components/clock.css';
@import '../components/footer.css';
@import '../components/form.css';
@import '../components/mouse.css';
@import '../components/clock.css';
@import '../components/progress-bar.css';


    

.hero {
    min-height: 100vh;
    background-image: url(../../images/background.png);
    background-repeat: no-repeat ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.hero > .short-row {
  display: flex; 
  flex-direction: column; 
  gap: 30px;
  align-items: center;
  text-align: center;
}

.hero .logo {
   height: 50px;
}
.hero .title {
    font-size: 80px;
}
.hero .description {
    font-size: 20px;
}
.content-title {
    text-transform: uppercase;
    font-size: 17px;
}
.content-description {
    color: #555;
    font-size: 18px;
}
.content-description > a {
    color: red;
    text-decoration: none;
}
.content-description > a:hover {
    text-decoration: underline;
}
.main-content .form .btn {
    margin-left: auto;
}

@media (max-width: 600px){
    .hero .title {
        font-size: 64px ;
    }
}
.hero > .short-row {
    position: relative;
}
.red {
    width: 60px;
    height: 60px;
    background-color: red;
    position: absolute;
}
